# API Keys - Get your own free keys from:
# Alpha Vantage: https://www.alphavantage.co/
# NewsAPI: https://newsapi.org/
# Polygon: https://polygon.io/

ALPHA_VANTAGE_KEY=your_key_here
NEWSAPI_KEY=your_key_here
POLYGON_KEY=your_key_here

NODE_ENV=development
PORT=8000
